.main-content {
  max-width: 85%; }

.banner-wrap {
  background-image: url("@/src/img/baner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 445px; }

.main-title-wrap {
  padding-top: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }

.tabs-title {
  width: 25rem;
  margin: 0;
  padding: 14px;
  background-color: var(--white-color);
  font-style: italic;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 0.01em; }

.tabs-subtitle {
  width: 35rem;
  padding: 15px;
  background-color: var(--dark-color);
  font-style: italic;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--white-color); }

.tabs-button {
  flex-grow: 1;
  background: var(--light-color);
  color: var(--primary-color);
  padding-top: 25px;
  padding-bottom: 22px;
  padding-left: 20px;
  cursor: pointer; }

.tabs-button-title {
  font-size: 18px;
  line-height: 18px; }

.tabs-button-subtitle {
  font-style: italic;
  font-size: 10px;
  line-height: 19px; }

.tabs-button:hover {
  background-color: var(--light-active-color); }

.tabs-button-current {
  background-color: var(--light-active-color); }

.subscribe-block {
  margin: 30px 0 40px 0;
  border-top: 1px dashed var(--smokie-color);
  border-bottom: 1px dashed var(--smokie-color);
  justify-content: space-between; }

.subscribe-description-icon {
  margin: 10px 16px 14px 18px;
  background-image: url("../src/img/icons/mail-icon.svg"); }

.subscribe-description {
  max-width: 530px;
  margin-top: 8px;
  margin-bottom: 10px;
  font-style: italic;
  font-size: 14px;
  line-height: 16px; }

.input {
  border: 1px solid var(--smokie-color);
  padding-top: 3px;
  padding-bottom: 6px;
  padding-left: 6px; }

.input::placeholder {
  font-size: 10px;
  line-height: 10px; }

.subscribe-button {
  display: inline-block;
  cursor: pointer;
  padding: 7px 18px;
  background: linear-gradient(180deg, #F4F3F3 0%, #BBB9B9 100%);
  border: 1px solid var(--smokie-color);
  border-radius: 2px;
  font-size: 10px;
  line-height: 10px;
  text-align: center; }

.cards {
  gap: 1rem;
  flex-wrap: wrap; }

.card {
  flex: 1 1 calc((100% / 4) - 2rem); }

.card-image {
  width: 100%;
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.25)); }

.card-title {
  max-width: 95%;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: -0.02em; }

.card-title .link {
  color: var(--primary-color); }

.card-body {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.02em; }

.card-info {
  margin-top: 10px; }

.card-date {
  position: relative;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: var(--smokie-color); }

.card-date:after {
  position: absolute;
  content: '/';
  right: -7px; }

.link-more {
  padding: 5px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: var(--primary-color);
  position: relative; }

.link-more:after {
  position: absolute;
  content: '...'; }

.link-more:hover:after {
  text-decoration: underline; }

@media screen and (max-width: 1177px) {
  .main-content {
    max-width: 80%; }
  .tabs-button {
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center; }
  .tabs-button-subtitle {
    display: none; }
  .subscribe-description {
    max-width: 360px; }
  .input {
    max-width: 160px; } }

@media screen and (max-width: 993px) {
  .main-content {
    max-width: 100%; } }

@media screen and (max-width: 769px) {
  .tabs-title {
    width: 100%;
    opacity: 0.6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
  .tabs-subtitle {
    width: 100%; }
  .subscribe-block {
    flex-direction: column; }
  .subscribe-block div:nth-child(1) {
    width: 100%; }
  .subscribe-description {
    min-width: 80%; }
  .form {
    width: 100%;
    display: flex;
    justify-content: space-around; }
  .input {
    min-width: 70%; }
  .card {
    min-width: 40%; } }

@media screen and (max-width: 480px) {
  .mail {
    flex-direction: column;
    margin-bottom: 10px; }
  .form {
    margin-bottom: 10px; }
  .card {
    min-width: 80%; }
  .card-title {
    font-size: 22px; }
  .card-body {
    font-size: 18px; }
  .card-date, .link-more {
    font-size: 16px; }
  .main-menu-icon, .list-control {
    display: none; }
  .banner-wrap {
    margin: 0 -5%; }
  .main-title-wrap {
    padding: 0;
    justify-content: flex-end; } }
