:root {
	--white-color: #FFFFFF;
    --light-color: #EFF8F7;
    --light-active-color: #D9EFEC;

    --primary-color: #34ACA7;
    --dark-color: #000000;
    --smokie-color: #E5E5E5;   
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
	font-family: 'Arial', sans-serif;
	color: var(--dark-color);
}


img {
    max-width: 100%;
    height: auto;
}

.container {
    margin: 0 auto;
    max-width: 1100px;
    margin-top: 50px;
}

.content-wrap {
    display: flex;
    justify-content: space-between;
}

.aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 140px;
}

.main-menu {
    margin-top: 10px;
    width: 100%;
    list-style: none;
}

.main-menu-item {
    margin-bottom: 25px;
}

.main-menu-icon {
    display: inline-block;
    margin-right: 10px;
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    background-position: center;
}

.main-menu-item:nth-child(1) .main-menu-icon{
    background-image: url('../img/icons/food-icon.svg');
}

.main-menu-item:nth-child(2) .main-menu-icon {
    background-image: url('../img/icons/blog-icon.svg');
}

.main-menu-item:nth-child(3) .main-menu-icon {
    background-image: url('../img/icons/a-list-icon.svg');
}

.main-menu-item:nth-child(4) .main-menu-icon {
    background-image: url('../img/icons/camera-icon.svg');
}

.main-menu-item:nth-child(5) .main-menu-icon {
    background-image: url('../img/icons/about-icon.svg');
}

.main-menu-item a {
    display: block;
    display: flex;
    align-items: center;
    font-family: Arial;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: var(--primary-color);
    text-decoration: none;
}

.main-menu-item a:hover {
    text-decoration: underline;
}

.community-block {
    width: 100%;
}

.community-title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    border-bottom: 1px dashed var(--smokie-color);
}

.community-description {
    margin-bottom: 15px;
    font-family: Arial;
    font-style: italic;
    font-weight: normal;
    font-size: 10px;
    line-height: 19px;
}

.community-button{
    display: inline-block;
    width: 100%;
    padding: 10px 13px 10px 20px;
    background: none;
    border: 1px solid var(--smokie-color);
    border-radius: 5px;
    cursor: pointer;
    font-family: Arial;
    font-style: italic;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: var(--primary-color);
    background-image: url('../img/icons/twitter-icon.svg');
    background-repeat: no-repeat;
    background-position: 5px 8px;
}

.main-content {
    width: 896px;
}

.tabs-body {
    position: relative;
    background-color: blue;
    max-height: 445px;
}

.tabs-body:before {
    position: absolute;
    top: 65%;
    content: 'Share your Foor Sence';
    width: 260px;
    background-color: var(--white-color);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    font-family: Arial;
    font-style: italic;
    font-weight: normal;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 0.01em;
}

.tabs-body:after {
    position: absolute;
    top: 76%;
    left: 0%;
    content: 'Submit yout favorite recipes, become a contributor, or get interviewed.';
    width: 490px;
    background-color: var(--dark-color);
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 15px;
    font-family: Arial;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: var(--white-color);
}


.tabs-buttons {
    display: flex;
    justify-content: space-between;
}

.tabs-button {
    display: inline-block;
    border: none;
    background: var(--light-color);
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: var(--primary-color);  
    min-width: 25%;
    padding: 26px 101px 41px 20px; 
    position: relative;
    cursor: pointer;
    text-align: left;
}

.tabs-button:after {
    position: absolute;
    height: 10px;
    left: 20px;
    top: 50px;
    font-family: Arial;
    font-style: italic;
    font-weight: normal;
    font-size: 10px;
    line-height: 19px;
    color: var(--primary-color);
}

.tabs-button:nth-child(1):after {
    content: 'Feast your eyes & get reciepes!';
}

.tabs-button:nth-child(2):after {
    content: 'News, how-tos, stories, and more';
}

.tabs-button:nth-child(3):after {
    content: 'Handpicked, absolute favorites';
}

.tabs-button:nth-child(4):after {
    content: 'We want to hear from you!';
}

.tabs-button:hover {
    background-color: var(--light-active-color);
}

.tabs-button-current {
    background-color: var(--light-active-color);
}

.subscribe-block {
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px dashed var(--smokie-color);
    border-bottom: 1px dashed var(--smokie-color);
}

.subscribe-description-wrap {
    display: flex;
}

.subscribe-description {
    max-width: 530px;
}

.subscribe-description-icon {
    width: 32px;
    height: 26px;
    margin: 10px 16px 14px 18px;
    background-image: url('../img/icons/mail-icon.svg');
    background-repeat: no-repeat;
}

.subscribe-description {
    margin-top: 8px;
    margin-bottom: 10px;
    font-family: Arial;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}

.input {
    border: 1px solid var(--smokie-color);
    padding-top: 3px;
    padding-bottom: 6px;
    padding-left: 6px;
}

.input::placeholder {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 10px;
}

.subscribe-button {
    display: inline-block;
    cursor: pointer;
    padding: 7px 18px;
    background: linear-gradient(180deg, #F4F3F3 0%, #BBB9B9 100%);
    border: 1px solid var(--smokie-color);
    border-radius: 2px;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 10px;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.card {
    max-width: 23%;
}

.card-image {
    filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.25));
}

.card-title {
    max-width: 95%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.02em;
    color: var(--primary-color);
}

.card-body {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.02em;
}

.card-info {
    margin-top: 10px;
}

.card-date {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: var(--smokie-color);
}

.card-more {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: var(--primary-color);
    text-decoration: none;
}

.card-more:hover {
    text-decoration: underline;
}

.main-footer {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid var(--smokie-color);
    padding: 25px 10px 35px 10px;
}

.copyright-link {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: -0.02em;
    color: var(--primary-color);
    text-decoration: none;
    position: relative;
    display: inline-block;
    margin-right: 10px;
}

.copyright-link:hover {
    text-decoration: underline;
}

.copyright-link:not(:last-child):after {
    position: absolute;
    content: '|';
    color: var(--smokie-color);
    right: -15px;
    width: 10px;
    height: 10px;
}

.copyright {
    margin-top: 5px;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: -0.02em;
    color: var(--smokie-color);
}

.social-block {
    list-style: none;
    display: flex;
}

.social-block-item {
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center;
}

.social-block-item:not(:last-child) {
    margin-right: 4px;
}

.social-block-item:nth-child(1) {
    background-image: url('../img/icons/tw.svg');
}

.social-block-item:nth-child(2) {
    background-image: url('../img/icons/fb-icon.svg');
}

.social-block-item:nth-child(3) {
    background-image: url('../img/icons/rss-icon.svg');
}

.social-block-link {
    display: inline-block;
    width: 100%;
    height: 100%;
}